{% extends "layout_user.html" %}

{% load static %}

{% block title %}
    Выписка по счету | Домашняя бухгалтерия
{% endblock %}

{% block css %}
    <link rel="stylesheet" media="screen" href="{% static "css/get_info.css" %}">
{% endblock %}

{% block content %}
    <div class="main__transactions transactions">
    {% for transaction in data %}
        {{ transaction.value }}
    {% endfor %}
    {% if transactions_pol|length == 0 and transactions_otr|length == 0 %}
        <h3 class="transaction__title" style="text-align: center">Транзакций нет</h3>

    {% else %}
        {% if transactions_pol|length != 0 %}
            <h3 class="transaction__title">Положительные транзакции</h3>
            {% for transaction in transactions_pol %}
                {% if forloop.first %}
                <ol class="spisok">
                {% endif %}
                    <li>
                        {{ transaction.date }} начисление: {{ transaction.value }}
                        <a href="/del-chg/{{ transaction.ch_id }}">
                            <img src="{% static "img/del-btn.svg" %}" alt="Удалить" class="del-icon">
                        </a>
                    </li>
                {% if forloop.last %}
                </ol>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if transactions_otr|length != 0 %}
            <h3 class="transaction__title">Отрицательные транзакции</h3>
            {% for transaction in transactions_otr %}
                {% if forloop.first %}
                <ol class="spisok">
                {% endif %}
                    <li>
                        {{ transaction.date }} списание: {{ transaction.value }}
                        <a href="/del-chg/{{ transaction.ch_id }}">
                            <img src="{% static "img/del-btn.svg" %}" alt="Удалить" class="del-icon">
                        </a>
                    </li>
                {% if forloop.last %}
                </ol>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    </div>
{% endblock %}