{% extends "layout_user.html" %}

{% load static %}

{% block title %}
    Статистика счета | Домашняя бухгалтерия
{% endblock %}

{% block css %}
    <link rel="stylesheet" media="screen" href="{% static "css/stat.css" %}">
{% endblock %}

{% block content %}
<div class="amount">
    <img src="{% static "img/credit-card.svg" %}" alt="card_icon" class="amount__icon">
    <h3 class="amount__title title3">Текущее количество денежных средств на счете: <span class="number">{{ amount }}</span> ₽</h3>
</div>
<div class="monthly">
    <h3 class="title3">Изменение счета за месяц:</h3>
    <div class="monthly__content">
        {%  for elem in stat_data %}
        <div class="month">
            <img src="{% static "img/calendar.svg" %}" alt="card_icon" class="amount__icon">
            <p class="month-data">
                <span class="bold">{{ elem.month|date:"F Y"}}:</span> <span class="number">{{ elem.s }}</span> ₽; <span class="bold">Количество транзакций:</span> {{ elem.c }}
            </p>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}