{% extends "layout_user.html" %}

{% load static %}

{% block title %}
    Выписка по счету | Домашняя бухгалтерия
{% endblock %}

{% block css %}
    <link rel="stylesheet" media="screen" href="{% static "css/start.css" %}">
{% endblock %}

{% block content %}
    <div class="accounts">
    {% for a in accs %}
        <div class="account">
            <div class="account__btns">
                <a href="/del-acc/{{ a.acc_id }}" class="account__del-btn"></a>
                <a href="/edit-acc/{{ a.acc_id }}" class="account__edit-btn"></a>
            </div>
            <div class="account__desc">
                <div class="account__theme">
                    <img src='{% static "img/credit-card.svg" %}' alt="card_icon" class="account__icon">
                    <h3 class="account__title">Счет '{{ a.acc_name }}'</h3>
                </div>
                <p class="account__amount">{{ a.total }} ₽</p>
            </div>
            <a href="" class="account__last-tr toggle">
                <img src="{% static "img/arrow_down.svg" %}" alt="Раскрыть" class="toggle__arrow toggle__arrow-down">
                <img src="{% static "img/arrow_up.svg" %}" alt="Раскрыть" class="toggle__arrow toggle__arrow-up">
                Последние транзакции
            </a>
            <div class="spoiler_body">
                {% if a.charges|length != 0 %}
                    {% for charge in a.charges %}
                        <p>{{ charge.date }}: {{ charge.value }} - {{ charge.category }}</p>
                    {% endfor %}
                {% else %}
                    <p>Транзакций нет</p>
                {% endif %}
            </div>

        </div>
    {% endfor %}
        <a href="/create-account/" class="create">Создать новый счет</a>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static "js/toggler.js"%}"></script>
{% endblock %}