{% extends "layout_user.html" %}

{% load static %}

{% block title %}
    Выписка по счету | Домашняя бухгалтерия
{% endblock %}

{% block css %}
    <link rel="stylesheet" media="screen" href="{% static "css/charges_random.css" %}">
{% endblock %}

{% block content %}
    <div class="accounts">
    {% for a in accs %}
        <div class="accounts">
            <h3 class="accounts__title">Счет '{{ a.acc_name }}'</h3>

        </div>
    {% endfor %}
    </div>
    {% for a in accs %}
        {{ a.acc_name }}
    {% endfor %}
    {{ accs.1.account }}

{% endblock %}