.main__form {
    width: 406px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.form {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.form__header {
    margin: 20px 0 20px 13px;
    text-align: center;
}

.form__title, .transaction__title {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form__info {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

.form__sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.form__label {
    font-size: 16px;
    font-weight: 300;
    display: block;
}

.form___input {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin: 10px auto;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

.form___input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

.form___input:-moz-placeholder {
    color:    #b5b5b5;
}

.form___input:focus{
    background: #fff;
    box-shadow: 0px 0px 0px 3px rgba(139, 27, 227, 0.5), inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;
}

.form__errors {
    width: 350px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #ff6669;
}

.error__elem {
    padding: 5px;
}

.form__submit {
    margin: 13px auto 0 auto;
    padding: 13px 10px;
    width: 150px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    border: hidden;
    background: rgba(139, 27, 227, 0.5);
    transition: 0.2s;
}

.form__submit:hover{
    background: rgb(139, 27, 227);
}

.spisok {
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.spisok li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.spisok li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: rgb(206, 174, 217);
    color: white;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.main__transactions {
    width: 406px;
    margin: 30px auto;
}