{% extends "layout.html" %}

{% load static %}

{% block title %}
    Статистика счета | Домашняя бухгалтерия
{% endblock %}

{% block css %}
    <link rel="stylesheet" media="screen" href="{% static "css/stat.css" %}">
{% endblock %}

{% block content %}
<div class="amount">
    <img src="{% static "img/credit-card.svg" %}" alt="card_icon" class="amount__icon">
    <h3 class="amount__title">Текущее количество денежных средств на счете: <span class="number">{{ amount }}</span> ₽</h3>
</div>
    {%  for elem in stat_data %}
        <p>{{ elem.month }}: {{ elem.s }}</p>
    {% endfor %}

{% endblock %}