{% extends "layout.html" %}

{% load static %}

{% block title %}
    Выписка по счету | Домашняя бухгалтерия
{% endblock %}

{% block css %}
    <link rel="stylesheet" media="screen" href="{% static "css/charges.css" %}">
{% endblock %}

{% block content %}
    <form action="{% url 'charges' %}" method="post" class="main__form form">
        <div class="form__header">
            <h3 class="form__title">
                Транзакция
            </h3>
            {% if info %}
                <p class = 'form__info'>{{ info }}</p>
            {% endif %}
        </div>
        <div class="form__sep"></div>
        <div class="form__inputs">
            {% for field in form.visible_fields %}
                <label class="form__label">{{ field.label }}{{ field }}</label>
            {% endfor %}
        </div>
        <div class="form__errors">
            <ul>
{#            ToDo: проблемы с датой#}
            {% for field in form.visible_fields %}
                {% if field.errors|length != 0 %}
                    {% for error in field.errors %}
                        {% for er_r in form.non_field_errors %}
                            <li class="error__elem">{{ er_r }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                {% elif forloop.counter == 1 %}
                    {% for er_r in form.non_field_errors %}
                        <li class="error__elem">{{ er_r }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <button class="form__submit" type="submit">Отправить</button>
    </form>
    <div class="main__transactions transactions">
        <h3 class="transaction__title">Положительные транзакции</h3>
        {% for transaction in transactions_pol %}
            {% if forloop.first %}
            <ol class="spisok">
            {% endif %}
                <li>{{ transaction.0 }} начисление: {{ transaction.1 }}</li>
            {% if forloop.last %}
            </ol>
            {% endif %}
        {% endfor %}
        <h3 class="transaction__title">Отрицательные транзакции</h3>
        {% for transaction in transactions_otr %}
            {% if forloop.first %}
            <ol class="spisok">
            {% endif %}
                <li>{{ transaction.0 }} списание: {{ transaction.1 }}</li>
            {% if forloop.last %}
            </ol>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}