.account {
    width: 550px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px;
    background: #fff;
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.account__btns {
    display: flex;
    flex-direction: row-reverse;
}

.account__desc {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.account__theme {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
}

.account__title {

}

.account__icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.account__amount {

}

.account__edit-btn {
    margin-right: 15px;
    height: 15px;
    width: 15px;
    background-image: url('../img/edit-btn.svg');
}

.account__del-btn {
    height: 15px;
    width: 15px;
    background-image: url('../img/del-btn.svg');
}

.account__last-tr {
    display: flex;
    flex-direction: row-reverse;
}

.spoiler_body {
    display:none;
    margin-top: 10px;

}

.toggle__arrow {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.toggle__arrow-up {
    display:none;
}